<%=render "navbar"%>

<h1><%= @album.name %></h1>
<p><%= @album.description %></p>
<% @album.audio_data%>

<audio controls>
  <source src="<%= rails_blob_url(@album.audio_data)%>" type="<%= @album.audio_data.content_type %>">
</audio>

<ul>
  <%if current_user.present? && (current_user.id == @album.user_id)%>
    <div class="btn btn-warning mt-2">  <%= link_to "Edit", edit_album_path(@album) %></div>
    <div class="btn btn-danger mt-2 "> <%= link_to "Destroy", album_path(@album), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></div>
  <%end%>
  <% if user_signed_in? %>
    <div class="btn btn-light mt-2 "><%=link_to "download",rails_blob_path(@album.audio_data, disposition: "attachment") %>
  <% end %>
</ul>

<%= render "footer" %>